.App {
  height: 100vh;
  padding-top: 10px;
  background-color: rgb(143, 143, 195);
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.freecodecamp-title-container {
width: 100%;
font-family: Lato, sans-serif;
font-weight: bold;
font-size: 50px;
height: 50;
margin: 8px;
display: flex;
justify-content: center;
align-items: center;
}

.freecodecamp-logo {
  height: 40px;
}

.calculator-container{
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #0000006b;
  border-radius: 20px;
  border: 5px solid white;
}

.fila{
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
